<body>
<div class="container">
  <form class="form-horizontal" id="loginForm" name="loginForm" action="/login" method="POST" >
    <div class="form-group">
      <label class="control-label" for="username">Username: </label>
      <input class="form-control" id="user" type="text" name="username" placeholder="username"/>
    </div>
    <div class="form-group">
      <label class="control-label" for="pass">Password: </label>
      <input class="form-control" id="pass" type="password" name="pass" placeholder="password"/>
    </div>
    <div class="form-group">
      <input class="btn-default" type="submit" value="Sign In" />
    </div>
  </form>
</div>
<script src="/assets/bundle.js"></script>
</body>